@model coremvc.Models.Student;
<html>
    <head>
        <title>
            Contact Us Page
        </title>
    </head>
    <body>
        <h1>
            Contact Us
        </h1>
        <p>
            This is the Contact Us page of the application.
        </p>
        <div>
            <label>Student Roll Number: @Model.roll</label><br />
            <label>Student Name: @Model.name</label><br />
            <label>Student Gender: @Model.gender</label><br />
            <label>Student Age: @Model.age</label>
            
        </div>
    </body>
</html>